@media screen and (max-width: 1130px) {
    :root {
        font-size: 14px;
    }


    .home {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-title {
        width: 100%;
        align-items: center;
        margin: 2rem 0;
        text-align: center;
    }

    .title-info {
        justify-content: center;
        margin: 2rem 0;
    }

    .home-img {
        margin: 2rem 0;
        justify-content: flex-end;
        align-items: flex-end;
        display: flex;
    }


    .superior {
        flex-direction: column;
        align-items: center;
    }

    .superior>div {
        width: 100%;
        margin: 2rem 0;
    }

    .superior .sp-content {
        border-radius: 20px;
        width: 70%;
    }

}

@media screen and (max-width: 974px) {
    :root {
        font-size: 10px;
    }

    .superior .sp-img {
        display: none;
    }
}

@media screen and (max-width: 717px) {
    .nav-logo img {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 7px;
    }

    .nav-logo {
        display: none;
    }

    .about-title {
        font-size: 20px;
    }

    .register-container {
        flex-direction: column;
    }

    .stroke-register {
        display: none;
    }
}