
@font-face {
    font-family: 'Nunito';
    src: url('/assets/font/Nunito-Regular.ttf');
}


:root{
    --primary-color: #29ABE2;
    --secondary-color: #0071BC;
    --primary-light-color: #8CC63F;
    --secondary-ligh-color: #F7931E;

    --body-m-v: 115px;
}


*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
body{
    width: 100vw;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

/* Nav Header */

header{
    position: relative;
    top: 50px;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav{
    width: calc(100% - 115px);
    display: flex;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 160px;
}

.nav-list{
    background: var(--primary-color);
    border-radius: 20px 0 0 20px;
    width: 840px;
    height: 70px;
}

.nav-list ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-list li{
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
}

.nav-list li::before{
    display: block;
    content: "";
    width: 0%;
    height: 5px;
    left: 0;
    background: white;
    border-radius: 2px;
    transition: .5s;
}
.nav-list li:hover::before{
    width: 100%;

}

.nav-list li::after{
    display: block;
    content: "";
    height: 5px;
}
.nav-list li a{
    height: 100%;
    display: flex;
    align-items: center;
}

/* Home */

.home {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home div {
    width: 50%;
    height: 650px;
    /* border: 1px solid; */
}

.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title div {
    width: 70%;
}

.home-title .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
}

.title p {
    font-size: 48px;
    font-weight: 700;

}

.title :nth-child(2) {
    font-size: 64px;
    color: #8CC63F;
    font-weight: 900;
}

.title :nth-child(3) {
    color: #F7931E;
}

.title :nth-child(3) span {
    font-weight: 900;
}

.home-title .title-info {
    height: 30%;
    display: flex;
    align-items: center;
}

.title-info div {
    height: 25%;
    width: 40%;
    background: #0071BC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 20px;
    transition: .5s;
    cursor: pointer;
}

.title-info div:hover {
    background-color: #29ABE2;
    transform: translateY(20px);
}

.home-img {
    overflow: hidden;
}

.home-img img {
    width: 90%;
}

/* About Page */

.about{
    padding: 40px var(--body-m-v) 0 var(--body-m-v);
    min-height: 100vh;
    background: var(--primary-color);
    color: white;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-title{
    font-size: 28px;
    width: fit-content;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}
.about-title::after{
    content: "";
    width: 100%;
    background: white;
    border-radius: 5px;
    height: 5px;

}