
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --primary-color: #29ABE2;
    --secondary-color: #0071BC;
    --primary-light-color: #8CC63F;
    --secondary-ligh-color: #F7931E;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100vw;
}

header{
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav{
    width: calc(100% - 115px);
    display: flex;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    width: 160px;
}

.nav-list{
    background: var(--primary-color);
    border-radius: 20px 0 0 20px;
    width: 840px;
    height: 70px;
}

.nav-list ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-list li{
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}